#register-page {
    position: relative;
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
}

/* ===== LAYER ===== */

#register-page .layer {
    position: absolute;
    inset: 0;
}

/* ===== BACKGROUND ===== */

#background {
    z-index: 0;
    background: linear-gradient(135deg, #e5e5e5, #dcdcdc);
}

/* ===== CENTER LAYER ===== */

#register-box-container {
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ===== REGISTER BOX ===== */

#register-box {
    width: 450px;
    padding: 45px 35px;
    background-color: #a9c9c7;
    border-radius: 25px;
    box-shadow: 0 25px 45px rgba(0, 0, 0, 0.15);

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

#register-box h1 {
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 2px;
}

/* ===== INPUT ===== */

#register-box input {
    width: 100%;
    padding: 12px 20px;
    border-radius: 25px;
    border: none;
    outline: none;
    font-size: 14px;
    background: #f2f2f2;
}

/* ===== BUTTON GROUP ===== */

.button-group {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
}

.login-link {
    background: none;
    border: none;
    font-size: 14px;
    text-decoration: underline;
    cursor: pointer;
    color: black;
}