#project-section {
    width: 100%;
}

.add-button {
    background-color: #28d62f;
    color: white;
    border: none;
    padding: 12px 30px;
    border-radius: 25px;
    font-size: 16px;
    margin-bottom: 20px;
    cursor: pointer;
}

.project-table {
    width: 100%;
    border-collapse: collapse;
    background-color: #d8bcbc;
}

.project-table th,
.project-table td {
    border: 1px solid #333;
    padding: 15px;
    text-align: center;
}

.project-table thead {
    background-color: #d2b4b4;
}